body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

h1 {
  font-family: 'Cutive Mono', monospace;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 0.7em;
  font-style: italic;
}

hr {
  color: black;
}

.header {
  background: url(../../resources/img/tomatoes.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.header h1 {
  padding: 20px 0 0 20px;
  font-size: 1.8em;
  text-shadow: 1px 1px #f2f2f2;
}

.calories {
  font-size: 0.6em;
  font-style: italic;
}