<div class="container">
  <div class="header">
    <h1>{{ title }}</h1>
  </div>
  <div class="row" id="content">
    <div class="mealList col-sm-6"> 
      <h2>Your Meals:</h2>
      <meal-list 
        [childMealList]="masterMealList" 
        (clickSender)="showDetails($event)">
       </meal-list>
    </div>
    <div class="newMeal col-sm-4 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-12">
          <h2>Add a meal:</h2>
          <new-meal
            (newMealSender)="addMeal($event)"
          ></new-meal>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <edit-meal
              [childSelectedMeal]="selectedMeal"
              (doneClickedSender)="finishedEditing()">
              <h2 class="edit">Edit:</h2>
            </edit-meal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>